extends ../layout
block content
  style. 
    textarea {
      width: 100%;
    }

  h1 #{discipline.name}
  hr
  //- textarea(name="", cols="30", rows="10") #{JSON.stringify(discipline, null, 2)}
  //- textarea(name="", cols="30", rows="10") #{JSON.stringify(students, null, 2)}
  //- textarea(name="", cols="30", rows="10") #{JSON.stringify(teachers, null, 2)}

  if user.role == 4 || user.role == 7 || user.role == 0
    h4 Professores
    if !teachers.length
      p Nenhum professor cadastrado
    else
      ul
        each teacher in teachers
          li
            a(href=`/user/${teacher.id}`) #{teacher.name} - #{teacher.username}
            if user.role == 4 || user.role == 0
              form(action='/school/d/delete/teacher', method='post')
                input(type="hidden", name="disciplineId", value=discipline.id, required)
                input(type="hidden", name="teacherId", value=teacher.id, required)
                input(type='submit', value='Remover')
    
    h4 Estudantes 
    if !students.length
      p Nenhum estudante cadastrado
    else
      ul
        each student in students
          li
            a(href=`/user/${student.id}`) #{student.name} - #{student.username}
            if user.role == 4 || user.role == 0
              form(action='/school/d/delete/student', method='post')
                input(type="hidden", name="disciplineId", value=discipline.id, required)
                input(type="hidden", name="studentId", value=student.id, required)
                input(type='submit', value='Remover')
        
    br
    hr
    br
    h4 Matricular estudantes 
    form(action='/school/d/create/students', method='post')
      input(type="hidden", name="disciplineId", value=discipline.id, required)
      #students
      
      input(type="text", id="search-student", placeholder="Username ou email do usuário")
      div#users-suggestions

      br
      input(type='submit', value='Matricular')

    script.
      const divUsersSuggestions = document.getElementById('users-suggestions'),
        inputSearch = document.getElementById('search-student'),
        students = document.getElementById('students');

      inputSearch.addEventListener('input', () => {
        const value = inputSearch.value;
        
        if (value.length > 0) {
          fetch('/search/user/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                data: value
              })
          })
            .then(res => res.json())
            .then(data => {
              divUsersSuggestions.innerHTML = '';
              
              if (data.status === 200) {  
                data.users?.forEach(user => {
                  const div = document.createElement('div');
                  div.innerHTML = `
                    <div class="user-suggestion">
                      <img src="${user.avatar}" width="30" height="30" alt="Avatar">
                      <div>
                        <p>${user.name} - ${user.username}</p>
                      </div>
                    </div>
                  `;

                  div.addEventListener('click', () => {
                    const div = document.createElement('div');
                    div.id = user.id;
                    div.innerHTML = `
                      <input type="hidden" name="students[]" value="${user.id}">
                      <p>${user.name} - ${user.username}</p>
                      <button type="button" class="btn btn-red" onclick="removeStudent('${user.id}')">Remover</button>
                    `;
                    students .appendChild(div);
                    divUsersSuggestions.innerHTML = '';
                    inputSearch.value = '';
                  });

                  divUsersSuggestions.appendChild(div);
                });
              }
            });
        }
      });

      function removeStudent(id) {
        const div = document.getElementById(id);
        div.remove();
      }

  if user.role == 2 || user.role == 0
    br
    hr
    br
    h4 Registar nova aula
    form(action='/school/d/create/class', method='post')
      input(type="hidden", name="disciplineId", value=discipline.id, required)
      input(type="text", name="title", placeholder="Título aula", required)
      input(type="text", name="content", placeholder="Conteúdo da aula", required)
      input(type="date", name="date", placeholder="Data da aula", required)
      input(type="number", name="quantity", placeholder="Horas de aulas", value="2", required)
      input(type='submit', value='Registrar')

    h4 Aulas
    if !discipline.classes.length
      p Nenhuma aula registrada
    else
      ul
        each class_ in discipline.classes
          li
            a(href=`/school/d/class/${class_.id}`) #{class_.title} - #{class_.date} | 
            if user.role == 2 || user.role == 0
              a(href=`/school/d/delete/class/${discipline.id}/${class_.id}`) Excluir aula

    h4 Frequência
    if !discipline.students.length
      p Nenhuma aula registrada
    else
      form(action='/school/d/update/frequency', method='post', id="form-frequency")
        input(type="hidden", name="disciplineId", value=discipline.id, required)
        table 
          thead
            tr
              th(rowspan=2, width="25%") Estudantes
              th(colspan=discipline.classes.length) Aulas
          tbody
            tr
              th
              each aula in discipline.classes
                th(style="text-align: center;") #{new Date(aula.date).toLocaleDateString("pt-BR", {day: '2-digit', month: '2-digit', year: 'numeric'})}

            each student in discipline.students
              tr
                - const u = students.find(s => s.id == student.userId)
                td #{u.name} - #{u.username}
                each aula in discipline.classes
                  - const c = student.frequency.find(c => c.classId == aula.id)
                  td(style="text-align: center;")
                    if c.status
                      input(type="checkbox", name=`frequency[${student.userId}][${aula.id}]`, checked)
                    else
                      input(type="checkbox", name=`frequency[${student.userId}][${aula.id}]`)
        br
        input(type='submit', value='Atualizar')